<.flash_group flash={@flash} />
<div class="flex flex-col items-center">
  Someday here will be a beautiful landing page
  <.link navigate={~p"/auth/github"} class="rounded-lg bg-zinc-100 px-2 py-1 hover:bg-zinc-200/80">
    Sign in with GitHub
  </.link>
</div>
